body {
  margin: 0;
  padding: 0;
  /* font-size: 62.5% !important; */
}

* {
  outline: 0;
}

a {
  text-decoration: none;
}

.flex-center {
  justify-content: center !important;
  align-items: center !important;
}
